name: Build & Test
on: [pull_request, create]

jobs:
  build:
    if: github.event_name == 'pull_request'
    name: Build & Test
    runs-on: macos-latest
    env:
      PREFIX: /opt/homebrew
    steps:
      - name: Code checkout
        uses: actions/checkout@v2
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Install dependencies
        run: brew tap slp/krun && brew install virglrenderer clang-format libkrun

      - name: Build
        run: cargo build --release --verbose

      - name: Test
        run: cargo test --release --verbose -- --show-output
